.storage_room-rack-quarter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 95px;
    width: 140px;
    border-radius: 4px;
    background-color: #25272D;
  }